* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: rgb(61, 61, 61);
	/* height: 2000px; */
}

/* NAVIGATION */
nav {
	background-color: rgb(255, 255, 255);
	z-index: 5;
	box-shadow: 20px 4px 73px -50px rgba(0, 0, 0, 0.75);
}

.container-nav {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	align-items: center;
	background-color: #fafafa;
	border-bottom: 1px solid #eaeaea;
	padding: 5px 70px 0 70px;
}

.logo-profile {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 200px;
	padding: 0 16px 0 16px;
}

.image img {
	width: 60px;
	border-radius: 50%;
	/* border: 1px solid red; */
}

.name .link {
	/* border: 1px solid green; */
	width: auto;
}

.link ul li a {
	text-decoration: none;
	padding: 5px;
	display: inline-block;
	color: rgb(41, 41, 41);
}

.link ul li a:hover {
	padding: 5px;
	transition: 0.16s;
	background-color: rgb(238, 96, 40);
	border-radius: 4px;
	color: #fff;
}

.link ul li {
	margin: 0 25px 0 25px;
	display: inline;
}

.icon-soc {
	/* border: 1px solid blue; */
	width: 200px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.icon-soc .circle {
	width: 27px;
	/* border: 1px solid salmon; */
	border-radius: 50%;
	margin: 0 16px 0 16px;
}

/* .icon-soc .circle i {
	font-size: 20px;
	margin-left: 6.8px;
} */
/* END NAVIGATION */

/* COVER */
.container-cover {
	margin-top: 76px;
}
.cover {
	width: 98.8%;
	background-image: url('../img/sampul.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/* border: 1px solid red; */
	border-radius: 18px;
	padding: 100px;
	margin: 0px auto;
}

.img-logo-sampul {
	width: 156px;
	border-radius: 50%;
	margin: 0px auto;
}

.desc-1 {
	width: 50%;
	text-align: center;
	margin: 0px auto;
}

.text-1 {
	width: 35%;
	/* position: relative; */
	font-size: 14px;
	line-height: 1.2;
	text-align: center;
	margin: -80px auto 0;
	top: 200px;
	/* color: #fd841f; */
	background-color: #fff;
	padding: 18px;
	border-radius: 10px;
	box-shadow: 20px 4px 73px -50px rgba(0, 0, 0, 0.75);
}
/* END COVER */

/* KONTEN MIE FAVORIT */
.judul,
.sub-judul {
	text-align: center;
}

.container {
	width: 100%;
	margin: 40px auto;
}

.fav-content {
	width: 600px;
	border: 1px rgb(212, 211, 211);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px 30px 30px;
	border-radius: 8px;
	background-color: #fff;
}

.fav-content:hover {
	transition: 0.3s ease-in-out;
	box-shadow: 18px 12px 40px -23px rgba(0, 0, 0, 0.75);
}
.fav-content .desc-mie {
	font-size: 14px;
}

.fav-content .desc-mie h4,
h2,
p,
a {
	margin: 5px 0 5px 0;
}

.fav-content .desc-mie a {
	display: inline-block;
	text-decoration: none;
	color: #ffff;
	padding: 5px;
	border-radius: 4px;
	background-color: #0555ce;
}

.desc-mie a:hover {
	transition: 0.18s ease-in-out;
	background-color: rgb(238, 96, 40);
}

.fav-content .img-mie {
	width: 600px;
	border-radius: 10px;
}

.fav-content .img-mie img {
	border-radius: 10px;
}

.container-slider-fav {
	display: flex;
	padding: 0px 30px 30px 30px;
	justify-content: space-evenly;
	/* border: 1px solid red; */
	width: 100%;
	margin: 5px auto;
}

.slider {
	/* border: 1px solid orange; */
	width: 200%;
	display: flex;
	/* transform: translate(-25%); */
	transition: all 0.3s;
}

.carousel {
	margin-top: 40px;
	position: relative;
	/* border: 1px solid salmon; */
	overflow: hidden;
}

.control {
	width: 80px;
	margin: 5px;
	/* border: 1px solid orange; */
	position: absolute;
	right: 2.4rem;
}

.control i {
	font-size: 16px;
	padding: 6px;
	color: white;
	background-color: rgb(157, 156, 156);
	border-radius: 50%;
	cursor: pointer;
	margin: 0px 4px 0 4px;
}

/* END */

/* Konten mie biasa */
.container-slider-reg {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 0px 30px 30px 30px;
	/* border: 1px solid orange; */
	width: 100%;
	margin: 5px auto;
}

.reg-content {
	width: 25%;
	border: 1px solid rgb(212, 211, 211);
	padding: 20px;
	border-radius: 10px;
	font-size: 14px;
	margin-bottom: 10px;
}

.reg-content:hover {
	transition: 0.18s ease-in-out;
	box-shadow: 18px 12px 40px -23px rgba(0, 0, 0, 0.75);
}

.img-reg {
	width: 100%;
	border-radius: 10px;
}
.img-reg img {
	border-radius: 10px;
}

.rating i,
.rating-bev i {
	color: rgb(254, 198, 42);
}

.desc-mie-reg {
	display: flex;
	justify-content: space-between;
	margin-top: 6.5px;
	margin-bottom: 6.5px;
}

.button-order a {
	text-decoration: none;
	color: rgb(61, 61, 61);
	font-size: 13px;
	display: inline-block;
	padding: 6px;
	color: #fff;
	border-radius: 4px;
}

.button-order .order {
	transition: 0.18s ease-in-out;
	background-color: #0555ce;
}
.button-order .order:hover {
	transition: 0.18s ease-in-out;
	background-color: rgb(238, 96, 40);
}
.button-order .troli {
	transition: 0.18s ease-in-out;
	background-color: rgb(238, 96, 40);
}
.button-order .troli:hover {
	transition: 0.18s ease-in-out;
	background-color: #0555ce;
}
.row-1,
.row-2 {
	display: flex;
	justify-content: space-evenly;
}

.slider-reg {
	display: flex;
	width: 300%;
	/* border: 1px solid red; */
	transition: all 0.3s ease;
}
/* END MENU MIE */

/* KONTEN MINUMAN */
.container-slider-bev {
	display: flex;
	justify-content: space-evenly;
}

.container-slider-bev .bev-content {
	width: 16%;
	border: 1px solid rgb(212, 211, 211);
	font-size: 14px;
	border-radius: 10px;
	padding-bottom: 4px;
	background-color: #fff;
}

.bev-content:hover {
	box-shadow: 18px 12px 40px -23px rgba(0, 0, 0, 0.75);
	transition: 0.3s ease-in-out;
}

.img-bev {
	width: 100%;
	border-radius: 10px;
}

.img-bev img {
	border-radius: 10px 10px 10px 10px;
}

.bev-content .nama-harga {
	width: 170px;
	font-size: 13px;
	margin: 0px auto;
	text-align: center;
	position: relative;
	top: -9px;
}

.rating-bev {
	width: 90px;
	padding: 10px;
	font-weight: bold;
	font-size: 16.8px;
	/* border: 1px solid salmon; */
	text-align: center;
	margin: 0px auto;
	position: relative;
	top: -20px;
	border-radius: 18px;
	border: 1px solid rgba(120, 120, 120, 0.75);
	background-color: white;
	box-shadow: 20px 4px 73px -50px rgba(0, 0, 0, 0.75);
}

.slider-bev {
	display: flex;
	width: 300%;
	transition: all 0.3s ease;
}
/* END KONTEN MINUMAN */

/* KOMENTAR */

.container-komen {
	margin-top: 30px;
}

.card-komen {
	width: 280px;
	border: 1px solid rgb(182, 182, 182);
	padding: 8px;
	font-size: 13px;
	border-radius: 8px;
	box-shadow: 20px 4px 73px -50px rgba(0, 0, 0, 0.75);
}

.header-komen {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}

.corner-quotes i {
	font-size: 40px;
	color: rgb(145, 145, 145);
}

.idKomen {
	display: flex;
	align-items: center;
	justify-content: space-around;
	/* width: 250px; */
}

.foto-person {
	border-radius: 50%;
}
.foto-person img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: -1;
	margin-right: 8px;
}

.nama-rating i {
	color: #ffbd2e;
}

.row-komen-1 {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 27px;
}

.row-komen-2 {
	display: flex;
	justify-content: space-evenly;
}
/* END KOMENTAR */

/* FINISHING */
#menu-favorit,
#menu-mie,
#menu-minuman,
#komentar {
	margin-top: 75px;
}

#menu-favorit,
#menu-minuman,
#footer {
	background-color: #ffbd2e;
}

.search {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	bottom: 0;
	display: none;
	/* transition: 2s ease-in-out; */
	z-index: 10;
	background-color: rgb(40, 38, 38);
	opacity: 0.9;
}

.kolom-cari {
	width: 350px;
	margin: 300px auto;
	display: flex;
	/* border: 1px solid white; */
}

.kolom-cari input {
	width: 100%;
	height: 35px;
	background-color: white;
	border-radius: 5px;
	/* text-align: center; */
	margin-right: 5px;
	border: 0px;
}

.kolom-cari button {
	width: 50px;
	border-radius: 6px;
	background-color: #ffbd2e;
	color: #ffff;
	border: 0px;
}

footer {
	margin-top: 16px;
	position: relative;
	bottom: 0;
	background-color: #ffbd2e;
	width: 100%;
}

.container-footer {
	display: flex;
	justify-content: space-between;
	padding: 30px;
	font-size: 13px;
}

.container-footer p:hover {
	font-weight: bold;
	cursor: pointer;
}

.part1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-prof {
	width: 150px;
	border-radius: 50%;
}
.footer-prof img {
	width: 100%;
	border-radius: 50%;
}

.sosmed-icon i {
	font-size: 23px;
	margin: 4px;
	display: inline-block;
	border: 1px solid black;
	padding: 6px;
	border-radius: 50%;
}

.exit-control {
	width: 300px;
	position: relative;
	left: 543px;
	top: 250px;
}

.exit-control i {
	font-size: 20px;
	cursor: pointer;
}

.yellow {
	color: #ffbd2e;
}

.white {
	color: #fff;
}

/* END FINISHING */

/* RESPONSIVE */
.hamburger-menu {
	display: none;
}

.cart {
	display: none;
}

/* HUMBURGER MENU */
@media screen and (max-width: 576px) {
	.link,
	.icon-soc {
		display: none;
	}

	.hamburger-menu {
		display: block;
	}

	.container-nav {
		justify-content: space-between;
		padding: 5px 35px 0 26px;
	}

	.logo-profile {
		width: 220px;
		padding: 0px 8px 0px 0px;
	}

	.logo-profile .image img {
		width: 50px;
	}

	.logo-profile .name h4 {
		/* font-size: 13px; */
		margin: 0px 0px 0px -45px;
	}

	.container-cover {
		margin-top: 66px;
	}

	.img-logo-sampul {
		width: 127px;
	}

	.text-1 {
		font-size: 10.5px;
		width: 270px;
	}

	.container-slider-fav {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.fav-content {
		width: 500px;
	}

	.fav-content .desc-mie {
		font-size: 10.5px;
	}

	.reg-content {
		width: 85%;
		margin: 3px;
	}

	.desc-mie-reg {
		font-size: 10.5px;
	}

	.button-order {
		text-align: center;
	}

	.button-order a {
		font-size: 10px;
	}

	.text {
		display: none;
	}

	.cart {
		display: block;
	}
}
/* END RESPONSIVE */
